extends layout

block content

    // Content Header (Page header)
    .content-header.sty-one
        h1 Dashboard - Wrapped ETHO
        a.twitter-share-button(href='https://twitter.com/intent/tweet?text=Great%20info%20about%20ETHO%20protocol.%20Check%20out%20this%20page.')
            | Tweet ths page

        ol.breadcrumb
            li
                a(href='#') Home
            li
                i.fa.fa-angle-right
                | Dashboard - Wrapped ETHO
    // Main content
    .content
        // Small boxes (Stat box)
        .row
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-black
                    span.info-box-icon.bg-transparent
                        i.ti-layout-grid3-alt.text-white
                    .info-box-content
                        h6.info-box-text.text-white wETHO percentage
                        h1.text-white= data.percentageSupply
                        span.progress-description.text-white of total supply
                    // /.info-box-content
                // /.info-box
            // /.col

        // Small boxes (Stat box)
        .row
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-black
                    span.info-box-icon.bg-transparent
                        i.ti-layout-grid3-alt.text-white
                    .info-box-content
                        h6.info-box-text.text-white wETHO amount
                        h1.text-white= data.totalSupply
                        span.progress-description.text-white ETHO
                    // /.info-box-content
                // /.info-box
            // /.col
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-black.text-white
                    span.info-box-icon.bg-transparent
                        i.ti-wallet.text-white
                    .info-box-content
                        h6.info-box-text.text-white wETHO holders
                        h1.text-white= data.holdersCount
                        span.progress-description.text-white accounts
                    // /.info-box-content
                // /.info-box
            // /.col
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-black
                    span.info-box-icon.bg-transparent
                        i.ti-bar-chart
                    .info-box-content
                        h6.info-box-text.text-white wETHO transfers
                        h1.text-white= data.transfersCount
                        span.progress-description.text-white Tx
                    // /.info-box-content
                // /.info-box
            // /.col
        // /.row
        // Main row
        script(src="/dist/js/chart.js")
        .row
            .col-md-6.d-flex
                .card.w-100
                    .card-body
                        h4.card-title.text-black wEtho market cap
                        h6.card-subtitle.m-b-2 Select the time span via tabs
                        // Nav tabs
                        ul.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(data-toggle='tab' href='#tab1' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid2-alt
                                    span.hidden-xs-down 24hr view
                            li.nav-item
                                a.nav-link(data-toggle='tab' href='#tab2' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid3-alt
                                    span.hidden-xs-down 7 day view
                            li.nav-item
                                a.nav-link(data-toggle='tab' href='#tab3' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid4-alt
                                    span.hidden-xs-down 30 day view
                        // Tab panes

                        .tab-content.tabcontent-border

                            #tab1.tab-pane.active(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart2_24hrs}

                            #tab2.tab-pane.p-20(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart2_7d}

                            #tab3.tab-pane.p-20(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart2_30d}

            .col-md-6.d-flex
                .card.w-100
                    .card-body
                        h4.card-title.text-black wEtho supply
                        h6.card-subtitle.m-b-2 Select the time span via tabs
                        // Nav tabs
                        ul.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(data-toggle='tab' href='#tab1_1' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid2-alt
                                    span.hidden-xs-down 24hr view
                            li.nav-item
                                a.nav-link(data-toggle='tab' href='#tab2_1' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid3-alt
                                    span.hidden-xs-down 7 day view
                            li.nav-item
                                a.nav-link(data-toggle='tab' href='#tab3_1' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid4-alt
                                    span.hidden-xs-down 30 day view
                        // Tab panes

                        .tab-content.tabcontent-border

                            #tab1_1.tab-pane.active(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart1_24hrs}

                            #tab2_1.tab-pane.p-20(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart1_7d}

                            #tab3_1.tab-pane.p-20(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart1_30d}





    // /.content
