extends layout

block content

    // Content Header (Page header)
    .content-header.sty-one
        h1 Dashboard - CMC trending
        ol.breadcrumb
            li
                a(href='/') Home
            li
                i.fa.fa-angle-right
                | Dashboard - CMC trending
    // Main content
    .content
        // Small boxes (Stat box)
        .row
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-darkblue
                    span.info-box-icon.bg-transparent
                        i.ti-layout-grid3-alt.text-white
                    .info-box-content
                        h6.info-box-text.text-white ETHO blockheight
                        h1.text-white= data.blockheight
                        span.progress-description.text-white  Blocktime 13 secs
                    // /.info-box-content
                // /.info-box
            // /.col
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-green.text-white
                    span.info-box-icon.bg-transparent
                        i.ti-wallet.text-white
                    .info-box-content
                        h6.info-box-text.text-white ETHO circulating supply
                        h1.text-white= data.circulatingsupply
                        span.progress-description.text-white  ETHO
                    // /.info-box-content
                // /.info-box
            // /.col
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-aqua
                    span.info-box-icon.bg-transparent
                        i.ti-bar-chart
                    .info-box-content
                        h6.info-box-text.text-white ETHO current Price
                        h1.text-white= db.coin_1_quote
                        span.progress-description.text-white= db.coin_1_percent1d
                            | % in 1 Day
                    // /.info-box-content
                // /.info-box
            // /.col
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-orange
                    span.info-box-icon.bg-transparent
                        i.ti-money
                    .info-box-content
                        h6.info-box-text.text-white ETHO market cap
                        h1.text-white= db.coin_1_marketcap
                        span.progress-description.text-white= db.coin_1_percent30d
                            | % in 30 Days
                    // /.info-box-content
                // /.info-box
            // /.col
        // /.row
        // Main row
        .row
            .col-lg-6.col-xlg-6
                .info-box
                    .d-flex.flex-wrap
                        div
                            h4.text-black CMC watchlist added in last 24 hours
                    .m-t-2
                        script(src="dist/js/chart.js")
                        p !{chart1}
            .col-lg-6.col-xlg-6
                .info-box
                    .d-flex.flex-wrap
                        div
                            h4.text-black CMC trending position
                    .m-t-2
                        p !{chart2}



    // /.content
