extends layout

block content

    // Content Header (Page header)
    .content-header.sty-one
        h1 Dashboard - CMC trending
        a.twitter-share-button(href='https://twitter.com/intent/tweet?text=Great%20info%20about%20ETHO%20protocol.%20Check%20out%20this%20page.')
            | Tweet ths page

        ol.breadcrumb
            li
                a(href='/') Home
            li
                i.fa.fa-angle-right
                | Dashboard - CMC trending
    // Main content
    .content
        // Small boxes (Stat box)
        .row
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-darkblue
                    span.info-box-icon.bg-transparent
                        i.ti-layout-grid3-alt.text-white
                    .info-box-content
                        h6.info-box-text.text-white ETHO blockheight
                        h1.text-white= data.blockheight
                        span.progress-description.text-white  Blocktime 13 secs
                    // /.info-box-content
                // /.info-box
            // /.col
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-green.text-white
                    span.info-box-icon.bg-transparent
                        i.ti-wallet.text-white
                    .info-box-content
                        h6.info-box-text.text-white ETHO circulating supply
                        h1.text-white= data.circulatingsupply
                        span.progress-description.text-white  ETHO
                    // /.info-box-content
                // /.info-box
            // /.col
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-aqua
                    span.info-box-icon.bg-transparent
                        i.ti-bar-chart
                    .info-box-content
                        h6.info-box-text.text-white ETHO current Price
                        h1.text-white= db.coin_1_quote
                        span.progress-description.text-white= db.coin_1_percent1d
                            | % in 1 Day
                    // /.info-box-content
                // /.info-box
            // /.col
            .col-lg-3.col-sm-6.col-xs-12
                .info-box.bg-orange
                    span.info-box-icon.bg-transparent
                        i.ti-money
                    .info-box-content
                        h6.info-box-text.text-white ETHO market cap
                        h1.text-white= db.coin_1_marketcap
                        span.progress-description.text-white= db.coin_1_percent30d
                            | % in 30 Days
                    // /.info-box-content
                // /.info-box
            // /.col
        // /.row
        // Main row
        script(src="dist/js/chart.js")

        .row
            .col-md-6.d-flex
                .card.w-100
                    .card-body
                        h4.card-title.text-black CMC ETHO ranking
                        h6.card-subtitle.m-b-2 Select the time span via tabs
                        // Nav tabs
                        ul.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(data-toggle='tab' href='#tab3_1' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid2-alt
                                    span.hidden-xs-down 24hr view
                            li.nav-item
                                a.nav-link(data-toggle='tab' href='#tab3_2' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid3-alt
                                    span.hidden-xs-down 7 day view
                            li.nav-item
                                a.nav-link(data-toggle='tab' href='#tab3_3' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid4-alt
                                    span.hidden-xs-down 30 day view

                        // Tab panes

                        .tab-content.tabcontent-border

                            #tab3_1.tab-pane.active(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart3_24hrs}

                            #tab3_2.tab-pane.p-20(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart3_7d}

                            #tab3_3.tab-pane.p-20(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart3_30d}
            .col-md-6.d-flex
                .card.w-100
                    .card-body
                        h4.card-title.text-black CMC storage coin ranking
                        h6.card-subtitle.m-b-2 Select the time span via tabs
                        // Nav tabs
                        ul.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(data-toggle='tab' href='#tab4_1' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid2-alt
                                    span.hidden-xs-down 24hr view
                            li.nav-item
                                a.nav-link(data-toggle='tab' href='#tab4_2' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid3-alt
                                    span.hidden-xs-down 7 day view
                            li.nav-item
                                a.nav-link(data-toggle='tab' href='#tab4_3' role='tab')
                                    span.hidden-sm-up
                                        i.ti-layout-grid4-alt
                                    span.hidden-xs-down 30 day view

                        // Tab panes

                        .tab-content.tabcontent-border

                            #tab4_1.tab-pane.active(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart4_24hrs}

                            #tab4_2.tab-pane.p-20(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart4_7d}

                            #tab4_3.tab-pane.p-20(role='tabpanel')
                                .info-box
                                    .m-t-2
                                        p !{chart4_30d}

        .row
            p
        .row
            .col-lg-6.col-xlg-6
                .info-box
                    .d-flex.flex-wrap
                        div
                            h4.text-black CMC watchlist added in last 24 hours
                    .m-t-2
                        p !{chart1}
            .col-lg-6.col-xlg-6
                .info-box
                    .d-flex.flex-wrap
                        div
                            h4.text-black CMC trending position
                    .m-t-2
                        p !{chart2}



    // /.content
