doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title= title
  // Tell the browser to be responsive to screen width
  meta(name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1')
  meta(name='description', content='Info portal for ETHO protocol')
  meta(name='keywords', content='Crypto currency, ETHO protocol, IPFS')
  meta(name='google-site-verification', content='fo7YVHrnO-aSryKEvGKGGpVWyuqP9_oABcGrSErY8Wk')
  meta(property='og:title', content='ETHO protocol dashboards - Get info about ETHO')
  meta(property='og:description', content='Info about ETHO protocol blockchain and ecosystem')
  meta(property='og:image', content='/dist/img/ethologo.png')
  meta(property='og:url', content='https://info.pinable.io')
  meta(name='twitter:card', content='/dist/img/ethologo.png')
  // Non-Essential, But Recommended
  meta(property='og:site_name', content='ETHO protocol dashboards')
  meta(name='twitter:image:alt', content='Info about ETHO protocol blockchain and ecosystem')
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-S09SJKYMPM')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-S09SJKYMPM');



  // v4.0.0-alpha.6
  link(rel='stylesheet' href='dist/bootstrap/css/bootstrap.min.css')
  // Google Font
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet')
  // Theme style
  link(rel='stylesheet' href='dist/css/style.css')
  link(rel='stylesheet' href='dist/css/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet' href='dist/css/et-line-font/et-line-font.css')
  link(rel='stylesheet' href='dist/css/themify-icons/themify-icons.css')
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
.wrapper.boxed-wrapper
  header.main-header
    // Logo
    a.logo.blue-bg(href='/')
      // mini logo for sidebar mini 50x50 pixels
      span.logo-mini
        img(src='dist/img/ethologo.png' alt='' width='25%')
      // logo for regular state and mobile devices
      span.logo-lg
        img(src='dist/img/ethologo.png' alt='' width='50%')
    // Header Navbar: style can be found in header.less
    nav.navbar.blue-bg.navbar-static-top
      // Sidebar toggle button
      ul.nav.navbar-nav.pull-left
        li
          a.sidebar-toggle(data-toggle='push-menu' href='')
      .pull-left.search-box


      .navbar-custom-menu
        .navbar-custom-menu
          ul.nav.navbar-nav
            // Messages: style can be found in dropdown.less
            li.dropdown.messages-menu
              a.dropdown-toggle(href='#' data-toggle='dropdown')
                i.fa.fa-envelope-o
                .notify
                  span.heartbit
                  span.point
              ul.dropdown-menu
                li.header Latest SW releases
                li
                  ul.menu
                    li
                      a(href='#')
                        .pull-left
                        h3 V1.11
                        ul
                          li.text-sm Any page can now be shared by Twitter button
                          li.text-sm New start page with what is new
                          li.text-sm Changed label from Remain to Hodl
                          li.text-sm Removed wETHO account from richlist
                          li.text-sm Added Kucoin

                        h3 V1.12
                        ul
                          li.text-sm Improved design and corporate identity
                          li.text-sm First dashboard with social data for discord
                          li.text-sm Added 2ndary account for Kucoin
                          li.text-sm Changed exchange diagram to be stacked instead of showing absolute values
                          li.text-sm Fixed CMC trending

                        h3 V1.13
                        ul
                          li.text-sm Added functionality to do cost estimation for files
                          li.text-sm Added dev fund tracking to
                          li.text-sm Updated currency policy

                        h3 V2.00
                        ul
                          li.text-sm Updated entry page with CMC ticker
                          li.text-sm Updated circulating supply and adjusted monetary policy
                          li.text-sm Updated richlist



  // Left side column. contains the logo and sidebar
  aside.main-sidebar
    // sidebar: style can be found in sidebar.less
    .sidebar
      // Sidebar user panel
      ul.sidebar-menu(data-widget='tree')
        li.active.treeview
          a(href='#')
            i.fa.fa-dashboard
            span Dashboard
            span.pull-right-container
              i.fa.fa-angle-left.pull-right
          ul.treeview-menu
            li.active
              a(href='/') Intro
            li
              a(href='/dash_overview') ETHO supply distribution
            li
              a(href='/dash_financial') ETHO financial
            li
              a(href='/dash_wetho') ETHO wrapped
            li
              a(href='/dash_cmctrending') ETHO trending
            li
              a(href='/dash_nodes') ETHO nodes
            li
              a(href='/dash_exchanges') ETHO exchanges
            li
              a(href='/dash_richlist') ETHO richlist
            li
              a(href='/dash_ipfs') ETHO IPFS
//            li
              a(href='/dash_financial2') ETHO If i had ...
//            li
              a(href='/dash_storagecost') File storage calculator
//            li
              a(href='/dash_health') ETHO asset health
//            li
              a(href='/dash_google') ETHO Google analytics

//            li
              a(href='/dash_social') ETHO social

//            li
              a(href='/dash_activity') ETHO activity
//            li
              a(href='/dash_subscribe') Subscribe to events








    // /.sidebar



// Content Wrapper. Contains page content
.content-wrapper
  // HUH
  != messages('message', locals)
  if errors
    each error, i in errors
      div(class="alert alert-danger") #{error.msg}


  block content

  // /.content-wrapper
  footer.main-footer
    if !data
      .pull-right.hidden-xs Version #{version}
    else
      .pull-right.hidden-xs= data.date
        | | Version #{version}
    | Copyright © 2022 Etho Protocol. All rights reserved.
// ./wrapper
// jQuery 3
script(src='dist/js/jquery.min.js')
// v4.0.0-alpha.6
script(src='dist/bootstrap/js/bootstrap.min.js')
// template
script(src='dist/js/niche.js')
// Chartjs JavaScript
script.
  window.twttr = (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function (f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));

